<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>New Record</title>
</head>

<body>
    <div class="container">
        <div class="mx-5">
            <div class="my-3">
                <h1>New Record</h1>
                <hr>
            </div>

            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label fs-5">learnig case title</label>
                    <input type="text" class="form-control" name="reporttitle">
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label fs-5">best epoch</label>
                        <input type="text" class="form-control" name="bestepoch">
                    </div>
                    <div class="col">
                        <label class="form-label fs-5">best loss</label>
                        <input type="text" class="form-control" name="bestloss">
                    </div>
                </div>
                <div class="mb-3 form-group">
                    <label for="form-label" class="fs-5">observed csv file</label>
                    <input type="file" class="form-control-file" name="observed">
                </div>
                <div class="mb-3 form-group">
                    <label for="form-label" class="fs-5">predicted csv file</label>
                    <input type="file" class="form-control-file" name="predicted">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary fs-5">Upload</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>




<!-- 
    title
    best epoch
    best loss
    observed file
    predicted file
-->